<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} My default title {% endblock %}</title>
</head>
<body>
<header>
    {% if request.user.is_authenticated %}
        Hi {{ request.user.first_name }} <a href="{% url "company:logout" %}">Logout</a> <br>
        <a href="{% url "company:profile" %}">Profile</a>
    {% else %}
        <a href="{% url "company:login" %}">Login</a>
    {% endif %}
    <br>
    {% block content %}
    {% endblock %}
</header>
</body>
</html>