{% extends "base.html" %}

{% block title %} Good companies to buy {% endblock %} <br>

{% block content %}
    <a href="{% url "company:all_companies" %}">Back to all companies</a>
    <h1> Good companies to buy:  </h1>
    {% for company in good_companies %}

        <h3> {{ company.name }} </h3>
        <p>
            Ticker: {{ company.ticker }}
            Price: {{ company.price }}
            Last change: {{ company.change }}
            P/E: {{ company.price_to_earn }}
            Last update: {{ company.time }}
        </p>
    {% endfor %}
{% endblock %}